<br>
<br>
<div class="text-center">

    <span *ngIf="IsAuthenticated()">Mission Dashboard Area Works!</span>
    <span *ngIf="IsAuthenticated()">(Confidential)</span>

    <div class="row" *ngIf="!IsAuthenticated()">
        <div class="col-12">
            <h5 class="text-center">Authentication Demo App</h5>
        </div>
    </div>

</div>


<!-- <ng-template [ngIf]="IsAuthenticated()"></ng-template> -->
<!-- This is also an approach in angular to achieve the following thing-->
<!-- See the difference in [ngIf] & *ngIf -->

<div class="container" *ngIf="IsAuthenticated()">
    <div class="row">
        <div class="col-12">
            <div class="badge badge-danger">
                Welcome Agent " {{ GetLoggedInUser().UserName | uppercase }} "!
                <!--Code runs only when authenticates so this doesnt throw exception -->
            </div>
        </div>

    </div>
    <div>
        Your Missions:
        <ul>
            <li *ngFor="let m of noOfMissions; let i = index">{{m}}</li>
        </ul>
    </div>
</div>